.line::after {
  content: '';
  width: var(--line-length);
  height: 0;
  border-width: var(--line-width);
  border-radius: var(--line-width);
  border-color: var(--line-color);
  position: relative;
  top: -10px;
  left: 10px;
  display: block;
  border-style: solid;
  z-index: -1;
}
