html {
  font-size: 2.4vmin;
}

body {
  margin: 0;
  padding: 0;
  transition: all 0.3s;
  font-family: sans-serif;
  overflow: hidden;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
}

@media screen and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: top left;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
  }
}
